@import url(https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700,800,900&display=swap);
*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Poppins, sans-serif;
}
body
{
    min-height: 100vh;
    background: #f2f2f2;
}
header
{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    padding: 30px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
header .logo-all
{
    color: #008037;
    font-weight: 700;
    text-decoration: none;
    font-size: 2em;
    text-transform: uppercase;
    letter-spacing: 2px;
}
header .logo-1
{
    color: #008037;
    font-weight: 700;
    text-decoration: none;
    font-size: 2em;
    text-transform: uppercase;
    letter-spacing: 2px;
    padding: 12px;
}
header .logo-2
{
    color: #7ED957;
    font-weight: 700;
    text-decoration: none;
    font-size: 2em;
    text-transform: uppercase;
    letter-spacing: 2px;
}
header .logo-3
{
    color: black;
    font-weight: 700;
    text-decoration: none;
    font-size: 2em;
    text-transform: uppercase;
    letter-spacing: 2px;
}
header ul
{
    display: flex;
    justify-content: center;
    align-items: center;
}
header ul li
{
    list-style: none;
    margin-left: 20px;
}
header ul li a
{
    text-decoration: none;
    padding: 6px 15px;
    color: black;
    border-radius: 20px;
}
header ul li a:hover,
.active
{
    background: #fff;
    color: #2b1055;
    background: linear-gradient(-135deg, #c850c0, #4158d0);
}
#text-center-info
{
    top: 0;
    left: 0;
    width: 100%;
    padding-left: 400px;
    padding-right: 400px;
    padding-top: 125px;
    display: flex;
    justify-content: space-between;
    font-size: 20px;
    color: black;
    line-height: 25px;
}
#text-center-info-under
{
    padding-left: 250px;
    padding-right: 200px;
    padding-top: 185px;
    width: 100%;
    justify-content: space-between;
    font-size: 15px;
    color: #b4b9bb;
}
#text-center-info-under-copyright
{
    padding-left: 250px;
    padding-right: 200px;
    padding-top: 25px;
    width: 100%;
    justify-content: space-between;
    font-size: 10px;
    color: #b4b9bb;
}