@import url(https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700,800,900&display=swap);
*
{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}
/* Coding by Easy Tec | easytec.tech */
/* Compact layout for mobile devices */
body
{
  min-height: 100vh;
  background: #f2f2f2;
}
header
{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  padding: 30px 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
header .logo
{
  font-size: 10px;
  font-weight: 700;
  text-decoration: none;
  text-transform: uppercase;
  text-align: left;
}
header .logo-txt-1
{
  color: #008037;
  font-weight: 700;
  text-decoration: none;
  text-transform: uppercase;
}
header .logo-txt-2
{
  color: #7ED957;
  font-weight: 700;
  text-decoration: none;
  text-transform: uppercase;
}
header .logo-txt-3
{
  color: #3D3030;
  font-weight: 700;
  text-decoration: none;
  text-transform: uppercase;
  letter-spacing: 2px;
}
header ul
{
  font-size: 7px;
  display: flex;
  justify-content: center;
  align-items: center;
}
header ul li
{
  list-style: none;
  margin-left: 0.2px;
}
header ul li a
{
  text-decoration: none;
  padding: 6px 12px;
  color: black;
  border-radius: 20px;
}
header ul li a:hover,
.active
{
  background: #fff;
  color: #2b1055;
  background: linear-gradient(-135deg, #00a849, #4158d0);
}
#text-center-error
{
  top: 0;
  left: 0;
  width: 100%;
  padding-left: 190px;
  padding-right: 150px;
  padding-top: 275px;
  display: flex;
  justify-content: space-between;
  font-size: 50px;
  color: black;
  line-height: 50px;
}
#text-center-error-under
{
  padding-left: 250px;
  padding-right: 200px;
  padding-top: 10px;
  width: 100%;
  justify-content: space-between;
  font-size: 15px;
  color: #b4b9bb;
}
footer{
  position: fixed;
  background: #140B5C;
  width: 100%;
  bottom: 0;
  left: 0;
}
footer::before{
  content: '';
  position: absolute;
  left: 0;
  top: 100px;
  height: 1px;
  width: 100%;
  background: #AFAFB6;
}
footer .content{
  max-width: 1250px;
  margin: auto;
  padding: 30px 40px 40px 40px;
}
footer .content .top{
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 50px;
}
footer .bottom-details{
  width: 100%;
  background: linear-gradient(-135deg, #00a849, #4158d0);
}
footer .bottom-details .bottom_text{
  max-width: 1250px;
  margin: auto;
  padding: 20px 40px;
  display: flex;
  justify-content: space-between;
}
.bottom-details .bottom_text span,
.bottom-details .bottom_text a{
  font-size: 8px;
  font-weight: 300;
  color: #fff;
  opacity: 0.8;
  text-decoration: none;
}
.bottom-details .bottom_text a:hover
{
  opacity: 1;
  text-decoration: underline;
}
.bottom-details .bottom_text .copyright_text {
  text-align: right;
}
.bottom-details .bottom_text .policy_terms {
  text-align: left;
}


/* multi-column layout for wider screens (computer) */
@media (min-width: 30em) {
header
{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  padding: 30px 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
header .logo
{
  font-size: 31.5px;
  font-weight: 700;
  text-decoration: none;
  text-transform: uppercase;
  letter-spacing: 2px;
}
header .logo-txt-1
{
  color: #008037;
  font-weight: 700;
  text-decoration: none;
  text-transform: uppercase;
  letter-spacing: 2px;
  padding: 12px;
}
header .logo-txt-2
{
  color: #7ED957;
  font-weight: 700;
  text-decoration: none;
  text-transform: uppercase;
  letter-spacing: 2px;
}
header .logo-txt-3
{
  color: #3D3030;
  font-weight: 700;
  text-decoration: none;
  text-transform: uppercase;
  letter-spacing: 2px;
}
header ul
{
  font-size: 17.5px;
  display: flex;
  justify-content: center;
  align-items: center;
}
header ul li
{
  list-style: none;
  margin-left: 20px;
}
header ul li a
{
  text-decoration: none;
  padding: 6px 15px;
  color: black;
  border-radius: 20px;
}
header ul li a:hover,
.active
{
  background: #fff;
  color: #2b1055;
  background: linear-gradient(-135deg, #00a849, #4158d0);
}
#text-center-error
{
  top: 0;
  left: 0;
  width: 100%;
  padding-left: 525px;
  padding-top: 125px;
  display: flex;
  justify-content: space-between;
  font-size: 50px;
  color: rgba(207, 27, 27, 0.884);
  line-height: 50px;
}
#text-center-error-under
{
  padding-left: 200px;
  padding-right: 200px;
  padding-top: 10px;
  width: 100%;
  justify-content: space-between;
  font-size: 15px;
  color: #9fa4a7;
}
#text-center-error-under a
{
  color: #83878a;
  opacity: 0.8;
  text-decoration: none;
  white-space: normal;
}
#text-center-error-under a:hover
{
  opacity: 1;
  text-decoration: underline;
}
#bild-center-error-under
{
  left: 665px;
  top: 350px;
  position: fixed;
}
footer{
  position: fixed;
  background: #140B5C;
  width: 100%;
  bottom: 0;
  left: 0;
}
footer::before{
  content: '';
  position: absolute;
  left: 0;
  top: 100px;
  height: 1px;
  width: 100%;
  background: #AFAFB6;
}
footer .content{
  max-width: 1250px;
  margin: auto;
  padding: 30px 40px 40px 40px;
}
footer .content .top{
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 50px;
}
footer .bottom-details{
  width: 100%;
  background: linear-gradient(-135deg, #00a849, #4158d0);
}
footer .bottom-details .bottom_text{
  max-width: 1250px;
  margin: auto;
  padding: 20px 40px;
  display: flex;
  justify-content: space-between;
}
.bottom-details .bottom_text span,
.bottom-details .bottom_text a{
  font-size: 14px;
  font-weight: 300;
  color: #fff;
  opacity: 0.8;
  text-decoration: none;
  white-space: normal;
}
.bottom-details .bottom_text a:hover
{
  opacity: 1;
  text-decoration: underline;
}
.bottom-details .bottom_text .copyright_text {
  text-align: right;
}
.bottom-details .bottom_text .policy_terms {
  text-align: left;
}
}